.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Makes it a circle */
    background-color: #f5f5f5;
    pointer-events: none; /* Makes it non-clickable */
    mix-blend-mode: difference; /* Creates a unique visual effect */
    z-index: 1060; /* Ensures it's on top */
    transition: transform 0.2s ease-out; /* Smooth transition */
}

html,
* {
    cursor: none; /* Hides the default cursor */
}

.cursor.halo {
    box-shadow: 0 0 5px 2px rgba(245, 245, 245, 0.4); /* A subtle halo*/
    transform:scale(1.4);
} 

.cursor.click-animation {
    animation: clickEffect 0.3s ease-out;
}

@keyframes clickEffect {
    50% {
        transform: scale(0.7); /* Shrinks slightly */
    }

    100% {
        transform: scale(1); /* Returns to normal size */
    }
}