/*PAGE STYLE*/
html {
  font-size: 14px;
  background-color: #cccccc
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

*::-webkit-scrollbar {
    display:none;
}

body {
    margin-bottom: 60px;
    margin: 0px;
    font-family: "Chivo Mono", monospace;
}


#category_page {
    background-color:#cccccc;
}

#contact_page {
    background-color: #cccccc;
}

footer {
    background-color: #cccccc;
}

nav {
    background-color: #1a1a1a;
}

#navbar_logo {
    max-height: 2.5rem; /* Adjust to your desired height */
}

.container {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
}

section {
    padding-left: 50px;
    padding-right: 50px;
}

#hero_page {
    height: calc(100vh - 56px);
    background-color: #1a1a1a;
}

#brandidentity_page, #productdesign_page, #webdesign_page, #marketing_page {
    background-color: #1a1a1a;
}

/*HERO PAGE EFFECTS*/
/* Style for the text that will be typed */
.rise-up-text {
    opacity: 0; /* Initially hidden */
    transform: translateY(30px); /* Shifted down by 30 pixels */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.rise-up-text.show {
    opacity: 1; /* Make it visible */
    transform: translateY(0); /* Move back to original position */
}

.rise-up-button {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rise-up-button.show {
    opacity: 1;
    transform: translateY(0);
}

/*EFFECTS*/

.fade-in {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth fade in effect */
}

.fade-in.active {
    opacity: 1; /* Fully visible when active */
}

.fade-in-element {
    opacity: 0;
    transform: translateY(30px); /* Shifted down by 30 pixels */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-element.active {
    opacity: 1;
    transform: translateY(0);
}

/* arrow fade in */
.category-text {
    position: relative; /* Allows positioning of the arrow within the div */
    transition: font-size 0.3s ease-out;
}

.category-text:hover {
    font-size: 68px; /* Adjust as desired. Decrease the value for more shrink */
    transition: font-size 0.3s ease; /* Transition for text size */
}

.fas.fa-arrow-right {
    opacity: 0; /* Hide the arrow initially */
    position: absolute; /* Position relative to the parent */
    right: 10px; /* Adjust right offset as needed */
    top: 50%; /* Vertically center the arrow */
    transform: translateY(-50%);
    transition: opacity 0.3s ease; /* Add a fade-in/out transition */
}

.category-text:hover .fas.fa-arrow-right {
    opacity: 1; /* Make the arrow visible on hover */
}

.clickable-div {
    cursor: none;
}


/*TEXT STYLES*/

.chivo-mono-h1 {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
}

#my_name {
    color: #f7931e;
    font-style: italic;
}

.chivo-mono-h2 {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #cccccc;
}

.chivo-mono-h4 {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: black;
}

.category-text {
    font-size: 72px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: left;
}

.showcase-main-text {
    font-size: 72px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: left;
}

.showcase-sub-text {
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #cccccc;
}

.category-text i {
    float: right; /* Float the arrow icons to the right */
}

.footer-text {
    font-size: 14px;
}


/*BUTTON STYLES*/

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#btn-contact {
    padding: 5px 15px; /* Adjust padding for larger button */
    font-size: 14px; /* Adjust font size as needed */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor:none;
}

#btn-contact:hover, #btn-contact:active {
    background-color: #cccccc;
    color:black;
}

#myworks_button {
    padding: 15px 30px; /* Adjust padding for larger button */
    /*text*/
    font-size: 18px; /* Adjust font size as needed */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    /*button design*/
    background-color: #cccccc;
    border-color: #cccccc;
    transition: transform 0.3s ease; /* Target for size transition */
}

#myworks_button:active {
    border-color:black;
}

#myworks_button:hover {
    transform: scale(1.1);
}

/* Text Animation - Option 1: Pseudo-element */
#myworks_button::after {
    position: absolute; /* Allows positioning within the button */
    display: block; /* Necessary for the animation */
    transition: transform 0.3s ease;
}

#myworks_button:hover::after {
    transform: translateY(-5px);
}



/*SECTIONS STYLES*/
.item-grid {
    display: flex; /* Activate Flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to multiple lines */
    max-width: 1500px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.item-4grid {
    position: relative;
    float: left; /* Keep this for now */
    width: 25% !important; /* Change width to 25%  */
    flex: 1 0 23% !important; /* Update flex values (more on this below) */
    margin: 10px;
    background-color: none;
    overflow: hidden;
    border-radius: 10px;
}

.item-4grid:hover:after {
    transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}

.item-4grid:hover .item-image {
    transform: scale(1.2) translateZ(0);
}

.item-4grid:hover .item-text {
    opacity: 1;
    transform: translateY(0);
}

.item-5grid {
    position: relative;
    float: left; /* Keep this for now */
    width: 20% !important; /* Change width to 25%  */
    flex: 1 0 16% !important; /* Update flex values (more on this below) */
    margin: 10px;
    background-color: none;
    overflow: hidden;
    border-radius: 10px;
}

.item-5grid:hover:after {
    transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}

.item-5grid:hover .item-image {
    transform: scale(1.2) translateZ(0);
}

.item-5grid:hover .item-text {
    opacity: 1;
    transform: translateY(0);
}

.item {
    position: relative;
    float: left;
    width: 33.3333333333%;
    flex: 1 0 30%; /* Control relative width and prevent shrinking  */
    margin: 10px;
    background-color: none; /* Semi-transparent background */
    overflow: hidden;
    border-radius: 10px;
}

.item:hover:after {
    transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}

.item:hover .item-image {
    transform: scale(1.2) translateZ(0);
}

.item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
}

.item-image {
    display: flex; /* Establish flexbox layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
}

.item-image img {
    position: static; /* Remove absolute positioning */
    top: auto; /* Reset top value */
    left: auto;
    width: auto; /* Allow natural width */
    max-width: 100%; /* Optionally constrain max-width*/
    height: auto;
    line-height: 0;
    transform: scale(1.1); /* Example: increase size by 10%  */
}

.item-image::before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
}

.item-text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #ffffff;
    transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 300ms;
    transform: translateY(-20%);
}

.item-text-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.item-text-title {
    font-weight: normal;
    font-style: 16px;
    padding: 0 15px;
    margin: 5px 0 0 0;
}

/*THIS FOR THE SUBTEXT IN THE GALLERY*/
/*.item-text-dek {
    text-transform: uppercase;
    font-style: 14px;
    opacity: 0.7;
    margin: 0;
}*/

.item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

/*CONTACT PAGE*/

#right-side-col {
    margin-top:70px;
}

#left-side-col {
    margin-top: 100px;
}

#contact-column{
    margin-bottom: 100px;
}

.contact-text {
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: left;
}

.contact-sub-text {
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: black;
    margin-top: 100px;
}

.contact-info-text {
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}

#contact-module1 {
    height: 60px;
    width: 450px;
    border-radius: 10px;
    /* Outline */
    outline: 2px solid black; /* Example color and thickness */
    margin-bottom: 50px;
}

#contact-module1-text {
    /*FONT*/
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-bottom:0px;
}

#contact-module2 {
    height: 250px;
    width: 450px;
    border-radius: 10px;
    /* Outline */
    outline: 2px solid black;
}

#contact-module2-text {
    /*FONT*/
    font-size: 30px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin-bottom: 5px;
}

#contact_button {
    padding: 15px 10px; /* Adjust padding for larger button */
    width: 300px;
    margin: 0 auto;
    /*text*/
    font-size: 18px; /* Adjust font size as needed */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    /*button design*/
    background-color: #f7931e;
    border-color: black;
    outline: 1px solid black;
    transition: transform 0.3s ease; /* Target for size transition */
}

#contact_button:active {
    border-color: black;
}

#contact_button:hover {
    transform: scale(1.1);
}

/* Text Animation - Option 1: Pseudo-element */
#contact_button::after {
    position: absolute; /* Allows positioning within the button */
    display: block; /* Necessary for the animation */
    transition: transform 0.3s ease;
}

#contact_button:hover::after {
    transform: translateY(-5px);
}
